li {
  font-weight: bold; }

li:nth-child(1) {
  color: #800000; }

li:nth-child(2) {
  color: #800000; }

li:nth-child(3) {
  color: #009acd; }

li:nth-child(4) {
  color: #009acd; }

li:nth-child(5) {
  color: #009acd; }

li:nth-child(6) {
  color: #009acd; }

li:nth-child(7) {
  color: #404d67; }

li:nth-child(8) {
  color: #404d67; }

li:nth-child(9) {
  color: #404d67; }

li:nth-child(10) {
  color: #404d67; }

li:nth-child(11) {
  color: #404d67; }

li:nth-child(12) {
  color: #404d67; }
