body {
  background-color: #abc; }

.rows {
  display: flex; }
  .rows div {
    text-align: center;
    background-color: #fee;
    float: left;
    height: 50px;
    width: 14.66667%;
    margin: 1%; }

#row1 div:first-child {
  margin-left: 44.16667%; }

#row2 div:first-child {
  margin-left: 35.33333%; }

#row3 div:first-child {
  margin-left: 26.5%; }

#row4 div:first-child {
  margin-left: 17.66667%; }

#row5 div:first-child {
  margin-left: 8.83333%; }
