* body {
  background: #222;
  text-align: center;
  color: #efe;
  padding: 8vw; }

#sun {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #ffdd03;
  line-height: 40vw;
  width: 40vw;
  height: 40vw;
  margin-top: 5vw;
  margin-left: 10vw; }

#mercur {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #dc9543;
  line-height: 3vw;
  width: 3vw;
  height: 3vw;
  margin-left: -55vw; }

#venus {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #ff8903;
  line-height: 5vw;
  width: 5vw;
  height: 5vw; }

#earth {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #178753;
  line-height: 7vw;
  width: 7vw;
  height: 7vw; }

#mars {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #d0362b;
  line-height: 5vw;
  width: 5vw;
  height: 5vw; }

#jupiter {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #af7142;
  line-height: 13vw;
  width: 13vw;
  height: 13vw; }

#saturn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #b5a96d;
  line-height: 11vw;
  width: 11vw;
  height: 11vw; }

#uranus {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #69cef9;
  line-height: 8vw;
  width: 8vw;
  height: 8vw; }

#neptun {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 5vw;
  background-color: #1d7aa2;
  line-height: 8vw;
  width: 8vw;
  height: 8vw; }
