#outer-block, ul li, #zero-block {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background: #fef;
  width: 300px; }

#outer-block {
  background: #222;
  width: 340px; }

ul {
  list-style-type: none;
  padding-left: 0px; }
  ul li:nth-child(1) {
    background: #23CAC4; }
    ul li:nth-child(1):hover {
      background: #188985; }
  ul li:nth-child(2) {
    background: #60ca23; }
    ul li:nth-child(2):hover {
      background: #418918; }
  ul li:nth-child(3) {
    background: #f07828; }
    ul li:nth-child(3):hover {
      background: #be540d; }

#zero-block {
  border-radius: 4px; }
  #zero-block:hover {
    background: #222;
    color: #fef; }
    #zero-block:hover ~ div li:nth-child(1) {
      background: #5678c6;
      color: #fef; }
    #zero-block:hover ~ div li:nth-child(2) {
      background: #4369c0;
      color: #fef; }
    #zero-block:hover ~ div li:nth-child(3) {
      background: #3b5eae;
      color: #fef; }
