$red: #800000
$blue: #009acd

li
  font-weight: bold

@for $i from 1 through 12 
  li:nth-child(#{$i}) 
    @if $i < 3 
      color: $red
    @else if $i < 7 
      color: $blue
    @else 
      color: mix($blue, $red)