$margin: 1%
$rows: 6

@function width()
  @return (100%/$rows)-(2*$margin)
@function left-position($row)
  $val: $rows -$row
  @return 100%/(2*$rows)*$val+($margin/2)*$val
  
body
  background-color: #abc

.rows
  display: flex
  div
    text-align: center
    background-color: #fee
    float: left
    height: 50px
    width: width()
    margin: $margin
      
#row1 div:first-child
  margin-left: left-position(1)
#row2
  div:first-child
    margin-left: left-position(2)
#row3
  div:first-child
    margin-left: left-position(3)
    
#row4
  div:first-child
    margin-left: left-position(4)
#row5
   div:first-child
      margin-left: left-position(5)
 
