@mixin planet($color, $size)
  display: inline-block
  vertical-align: middle
  border-radius: 50%
  margin-left: 1vw
  margin-top: 5vw
  background-color: $color
  line-height: $size
  width: $size
  height: $size 

* body
  background: #222
  text-align: center
  color: #efe
  padding: 8vw

#sun 
  @include planet(#ffdd03, 40vw)
  margin-top: 5vw
  margin-left: 10vw
  
#mercur 
  @include planet(#dc9543, 3vw)
  margin-left: -55vw

#venus 
 @include planet(#ff8903, 5vw)

#earth 
 @include planet(#178753, 7vw)

#mars 
 @include planet(#d0362b, 5vw)

#jupiter 
 @include planet(#af7142, 13vw)

#saturn 
 @include planet(#b5a96d, 11vw)

#uranus 
 @include planet(#69cef9, 8vw)

#neptun 
 @include planet(#1d7aa2, 8vw)



