$hot: #f07828
$alright: #60ca23
$cold: #23CAC4
$freezing: #5678c6 
$black: #222
$white: #fef

$padding: 20px
$width: 300px  

$listelements: (1:$cold, 2:$alright, 3:$hot)  

%blockelement
  text-align: center
  margin: 0 auto
  padding: $padding
  background: $white 
  width: $width 

@mixin listelement($color)
  background: $color
  &:hover
    background: darken($color, 15)
  

#outer-block
  @extend %blockelement
  background: $black
  width: $width + 2*$padding
      
ul
  list-style-type: none
  padding-left: 0px
  li
    @extend %blockelement
  @each $i, $c in $listelements
    li:nth-child(#{$i})
      @include listelement($c)

#zero-block 
  @extend %blockelement
  border-radius: 4px 
  &:hover
    background: $black
    color: $white
    ~div 
      @for $i from 1 through 3
        li:nth-child(#{$i})
          background: darken($freezing,$i*5-5)
          color: $white
      


  
  
 