<head>
    <link href="../css/list.css" rel = "stylesheet">
</head>
<body>
    <ul>
        <li>I am red</li>
        <li>I am red</li>
        <li>I am blue</li>
        <li>I am blue</li>
        <li>I am blue</li>
        <li>I am blue</li>
        <li>I am somewhere in between</li>
        <li>I am somewhere in between</li>
        <li>I am somewhere in between</li>
        <li>I am somewhere in between</li>
        <li>I am somewhere in between</li>
        <li>I am somewhere in between</li>
    </ul>
</body>
  