<head>
    <link href="../css/pyramid.css" rel = "stylesheet">
</head>
<body>
    <div class="rows" id="row1">
        <div></div>
    </div>
    <div class="rows" id="row2">
        <div></div>
        <div></div>
    </div>
    <div class="rows" id="row3">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="rows" id="row4">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="rows" id="row5">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="rows">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>