<head>
    <link href="../css/solar.css" rel = "stylesheet">
</head>
<body>
    <h1>Our Solar System</h1>
    <div id="sun"></div>
    <div id="mercur">M</div>
    <div id="venus">V</div>
    <div id="earth">E</div>
    <div id="mars">M</div>
    <div id="jupiter">J</div>
    <div id="saturn">S</div>
    <div id="uranus">U</div>
    <div id="neptun">N</div>
  </body>
  