
<head>
    <link href="../css/temperature.css" rel = "stylesheet">
</head>
<body >
    <div id="outer-block">
        <div id="zero-block">
          <h3>Still not enough?</h3>
          <p>Absolute Zero: -273,15°C</p>
        </div>
        <div id="temperature-block">
          <ul>
            <li> up to 5°C </li>
            <li>5-25°C </li>
            <li>25°C and more </li>
          </ul>
        </div>
      </div> 
</body>